@each $name, $color in $colors {
  .btn-#{$name} {
    background-color: map-get($colors, primary);
    color: map-get($colors, forth);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: $small;
    transition: background 0.3s ease;
    font-weight: $bold;

    &:hover {
      background-color: map-get($colors, forth);
      color: map-get($colors, primary);
    }
  }
}
