$colors: (
  primary: #00e5e5,
  secondary: #f4f4f4,
  third: #640fc5,
  forth: rgb(0, 0, 55),
);

main {
  h1,
  li,
  p {
    color: map-get($colors, secondary);
  }
}

main ul {
  list-style-type: disc;
}

nav {
  ul {
    li {
      a {
        text-decoration: none;
        background-color: map-get($colors, third);
        color: map-get($colors, secondary);
        border-radius: 15px;
      }
    }
  }
}

#bg-hero {
  background-color: map-get($colors, third);
}
